{% extends 'user/default_home_base.html' %}
{% load static %}

{% block content %}
{% load i18n %}

{% language 'hy' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'user/forms.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>կայքի վերնագիր</title>
</head>
<style>       
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Modal content */
    .modal-content {
        background-color: #30246c;
        margin: 20% auto;
        padding: 20px;
        border: 1px solid #aaa;
        border-radius: 5px;
        width: 300px;
        text-align: center;
    }

    /* Buttons */
    #confirmLogout, #cancelLogout {
        background-color: #ddd;
        color: #30246c;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        border-radius: 3px;
    }

    #confirmLogout:hover, #cancelLogout:hover {
        background-color: #ccc;
    }
</style>
<body>
    <center>
        <h1>Հոդված գիտական ամսագրում</h1>
        <br/><br/>
        {% if articleForm.errors %}
            <div class="errorlist">
                <strong>{{ _("Խնդրում ենք ուղղել սխալները։") }}</strong>
            </div>
            <br/><br/>
        {% endif %}
        {% if submitted %}
            <p>Ձեր տվյալները հաջողությամբ թարմացվել են!</p>
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Հրապարակման շտեմարան</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.publication_repository }}
                            {% if scientificJournalForm.publication_repository.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.publication_repository.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*DOI</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.DOI }}
                            {% if scientificJournalForm.DOI.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.DOI.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*ISSN (print)</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.ISSN_print }}
                            {% if scientificJournalForm.ISSN_print.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.ISSN_print.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*ISSN (electronic)</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.ISSN_electronic }}
                            {% if scientificJournalForm.ISSN_electronic.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.ISSN_electronic.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Հոդվածի վերնագիր</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.title }}
                            {% if scientificJournalForm.title.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.title.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Ամսագրի անվանում</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.magazine_name }}
                            {% if scientificJournalForm.magazine_name.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.magazine_name.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Տարի</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.year }}
                                {% if scientificJournalForm.year.errors %}
                                    <ul class="errorlist">
                                        {% for error in scientificJournalForm.year.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Էջեր</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.pages_count }}
                            {% if scientificJournalForm.pages_count.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.pages_count.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Լեզու</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.language }}
                            {% if scientificJournalForm.language.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.language.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Հոդվածի ինտերնետային հղում</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.link }}
                            {% if scientificJournalForm.link.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.link.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Ֆինանսավորման աղբյուր</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.funding_source }}
                            {% if scientificJournalForm.funding_source.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.funding_source.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Ամսագրի հատոր</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.volume }}
                            {% if scientificJournalForm.volume.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.volume.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="fixed-column_label">
                            <label>*Quartile(квартиль)</label>
                        </td>
                        <td class="fixed-column_input">
                            {{ scientificJournalForm.quartile }}
                            {% if scientificJournalForm.quartile.errors %}
                                <ul class="errorlist">
                                    {% for error in scientificJournalForm.quartile.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <br/><br/>
                <button class="back-button" type="button" onclick="window.location.href = '/show_scientificJournal_list/'">Վերադառնալ</button>
                <button class="cancel-button" type="button" onclick="window.location.href = '/show_scientificJournal_list/'">Չեղարկել</button>
                <button class="submit-button" type="submit">Թարմացնել</button>
            </form>
        {% endif %}
    </center>
</body>
</html>
{% endlanguage %}
{% endblock %}