{% extends 'user/default_home_base.html' %}
{% load static %}

{% block content %}
{% load i18n %}

{% language 'hy' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Update Successful</title>
    <style>
        .message-container {
            text-align: center;
            margin-top: 100px;
        }
        
        html, body {
            background: rgb(223,223,233);
            background: linear-gradient(90deg, rgba(223,223,233,1) 0%, rgba(223,223,233,1) 0%, rgba(223,223,233,1) 100%);
        }
    </style>
</head>
<body>
    <div class="message-container">
        <p>Ձեր տվյալները հաջողությամբ փոփոխվել են!</p>
    </div>
    
 </body>
</html>
{% endlanguage %}
{% endblock %}
